<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>    
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title> Zinvoices </title>
  </head>
  <body>
    <header>

          <nav class="navbar is-fixed-top {{navColor}}"  role="navigation">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  <img src="images/logo-white-bold.png" alt="zinvoices logo" width="auto" height="70">
                </a>
                <a class="navbar-item has-text-white-bis has-text-weight-bold is-size-4" href="/">
                  Zinvoices
                </a>

            {{#if user}}
                <span class="navbar-burger {{navColor}} burger has-text-white-bis" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu is-link">
                <div class="navbar-end">
                  <a class="navbar-item has-text-grey-darker has-text-weight-semibold" href="/quotations">
                    Quotations
                  </a>
                  <a class="navbar-item has-text-grey-darker has-text-weight-semibold" href="/invoices">
                    Invoices
                  </a>
                  <a class="navbar-item has-text-grey-darker has-text-weight-semibold" href="/delivery-forms">
                   Delivery forms
                  </a>
                  <a class="navbar-item has-text-grey-darker has-text-weight-semibold" href="/customers">
                    Customers
                  </a>
                  <a class="navbar-item has-text-grey-darker has-text-weight-semibold" href="/products">
                    Products
                  </a>
                  <span class="navbar-item">
                    <a class="button {{navColor}} is-inverted" href="/logout">
                      Log out
                    </a>
                  </span>
                </div>
              </div>
                {{else}}
              <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                    <img src="images/logo-white-bold.png" alt="zinvoices logo" width="auto" height="70">
                  </a>
                  <a class="navbar-item" href="/">Zinvoices</a>
                </div>

                <div class="navbar-menu">
                  <div class="navbar-end">
                    <a class="navbar-item" href="/auth/login">Log in</a>
                    <a class="navbar-item" href="/auth/signup">Sign up</a>
                  </div>
                </div>
              {{/if}}
            </div>
          </nav>
   </header>

    {{{body}}}

      <script src="/javascripts/layout.js"></script>   

  </body>

</html>