{{!-- titre  --}}

<div class="columns">
   <div class="column is-2"> 
    </div>
</div>

<div class="column">       
     <h3 class="title is-3 is-centered">Quotations List</h3>
</div>

<div class="columns">
   <div class="column is-2"> 
    </div>
</div>
{{!-- colonnes   --}}


  <div class="columns is-desktop">
      <div class="box">
        <table class="table">
          <div class="columns has-text-centered has-text-weight-bold is-line-height">
              <div class="column">
                Quotation number
              </div>
            
              <div class="column">
                Customer       
              </div>
          
              <div class="column">
                Amount 
              </div>
    
              <div class="column">
                Establishment date
              </div>
        
              <div class="column">
                Accepted
              </div>
          </div>
       </table>

      {{#each quotationsList}}

        <div class="columns has-text-centered">
            <div class="column">
              {{this.quotationNumber}}
            </div>
          
            <div class="column">
              {{this.customer.firstName}} {{this.customer.lastName}}     
            </div>
        
            <div class="column">
              {{this.amount}}
            </div>
  
            <div class="column">
              E{{this.date}}
            </div>
       
            <div class="column">
              {{#if this.accepted}} Yes {{else}} No {{/if}}
            </div>
        </div>
          {{/each}}  
    </div>  
  </div> 
</div> 
<div class="columns">
   <div class="column is-2"> 
    </div>
</div>

{{!-- tableau  --}}

    <div class="column is-desktop">
      <div class="box" style="min-height: 400px">
        <table class="table">

          <thead>
            <tr>
              <th><abbr title="Position">Quotation number</abbr></th>
              <th><abbr title="Position">Customer</abbr></th>
              <th><abbr title="Position">Amount</abbr></th>
              <th><abbr title="Position">Establishment date</abbr></th>
              <th><abbr title="Position">Accepted</abbr></th>
            </tr>
        </thead>

       <tbody>
         {{#each quotationsList}}
         <tr>
            <td>{{this.quotationNumber}}</td>
            <td>{{this.customer.firstName}} {{this.customer.lastName}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.convertedDate}}</td>
            <td>{{#if this.accepted}} Yes {{else}} No {{/if}}</td>
          </tr>
          {{/each}}
        </tbody>
     </table>
    </div> 

  </div> 

{{!-- bouton   --}}
<div class="columns">
    <div class="column is-2"> 
      <a class="button is-link is-focused is-centered" href="/quotations/new">
        <h2>New Quotation</h2>
      </a>  
    </div>
  </div>
</div>


{{!-- pagination  --}}
<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    {{#each pages}}
      <li>
        <a class="pagination-link" href="/quotations/{{this}}">{{this}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<script src="/javascripts/quotations/quotationList.js"></script>