<div class="columns">
   <div class="column is-2"> 
    </div>
</div>

<div class="columns">

    <div class="column">       
     <h1 class="title is-3 is-centered">Quotations List</h1>
    </div>

    <div class="column is-narrow">
      <div style="width: 80px;">
        <a class="button is-primary is-right is-small" href="/">
          Dashboard</a>  
    </div>
  </div>

</div>

  <div class="columns is-desktop">

    <div class="column">
      <div class="box" style="min-height: 400px">
        <table class="table">

          <thead>
            <tr>
              <th><abbr title="Position">Quotation number</abbr></th>
              <th><abbr title="Position">Customer</abbr></th>
              <th><abbr title="Position">Amount</abbr></th>
              <th><abbr title="Position">Establishment date</abbr></th>
              <th><abbr title="Position">Accepted</abbr></th>
            </tr>
        </thead>

       <tbody>
         {{#each quotationsList}}
         <tr>
            <td>{{this.quotationNumber}}</td>
            <td>{{this.customer.firstName}} {{this.customer.lastName}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.convertedDate}}</td>
            <td>{{#if this.accepted}} Yes {{else}} No {{/if}}</td>
          </tr>
          {{/each}}
        </tbody>
     </table>
    </div> 

  </div> 
<div class="columns">
    <div class="column is-2"> 
      <a class="button is-link is-focused is-centered" href="/quotations/new">
        <h2>New Quotation</h2>
      </a>  
    </div>
  </div>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    {{#each pages}}
      <li>
        <a class="pagination-link" href="/quotations/{{this}}">{{this}}</a>
      </li>
    {{/each}}
  </ul>
</nav>

<script src="/javascripts/quotations/quotationList.js"></script>