<div class="column is-multiline">
  <div class="column">
    <div class="column is-2"> 
    </div>

    <div class="column is-2"> 
    </div>

    <div class="column is-half">
      <h1 class="title is-1 is-centered">Quotations List</h1>
    </div>

    <div class="column is-2"> 
      <a class="button is-primary is-link is-centered" href="/">
        <h2>Dashboard</h2>
      </a> 
    </div>

    <div class="column is-2"> 
    </div>
  </div>

  <div class="columns is-desktop">

    <div class="column is-2"> 
    </div>

    <div class="column">
      <table class="table">

        <thead>
          <tr>
            <th><abbr title="Position">Quotation number</abbr></th>
            <th><abbr title="Position">Customer</abbr></th>
            <th><abbr title="Position">Amount</abbr></th>
            <th><abbr title="Position">Establishment date</abbr></th>
            <th><abbr title="Position">Accepted</abbr></th>
          </tr>
       </thead>

       <tbody>
         {{#each quotationsList}}
         <tr>
            <td>{{this.quotationNumber}}</td>
            <td>{{this.customer.firstName}} {{this.customer.lastName}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.date}}</td>
            <td>{{#if this.accepted}} Yes {{else}} No {{/if}}</td>
          </tr>
        </tbody>
        {{/each}}
     </table>
    </div> 

    <div class="column is-2"> 
    </div>

  </div> 

  <div class="columns">
    <div class="column is-2"> 
    </div>

    <div class="column is-2"> 
      <a class="button is-link is-focused is-centered" href="/quotations/new">
        <h2>New Quotation</h2>
      </a>  
    </div>

   <div class="column is-2"> 
    </div>

    <div class="column is-2"> 
    </div>

    <div class="column is-2"> 
      <div class="buttons is-focused has-addons is-link is-centered">
        <span class="button" href="#">prev.</span>
        <span class="button" href="#">Next.</span>
    </div>
    </div>

    <div class="column is-2">  
    </div>

  </div>
</div>

