{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-3 is-centered">Quotation #{{quotation.quotationNumber}}</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- colonnes   --}}

<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>
 
  <div class="column"> 
    <div class="box">
      <div class="columns">
        <div class="column"> 
        <h2>Customer</h2></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
     </div>

      <div class="columns">
        <div class="column"> 
          {{quotation.customer.firstName}} 
        </div>
        <div class="column"></div>
        <div class="column"> 
          {{quotation.customer.lastName}}
        </div>
        <div class="column"></div>
     </div>


      <div class="columns">
        <div class="column"> 
          {{quotation.customer.address1}}
        </div>
        <div class="column"></div>
        <div class="column"> 
           {{#if quotation.customer.address2}}
           {{quotation.customer.address2}} 
           {{/if}} 
        </div>
        <div class="column"></div>
    </div>


      <div class="columns">
        <div class="column"> 
          {{{quotation.customer.zipCode}} {{quotation.customer.city}}
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>

  </div>

 <div class="column is-1 is-hidden-mobile"> 
</div>

</div>


  
  </div>

  <table class="table">
    <tbody>
        <tr>
            <td><h2>{{quotation.customer.firstName}} {{quotation.customer.lastName}}</h2></td>
        </tr>
        <tr>
            <td>{{quotation.customer.address1}}</td>
        </tr>
        {{#if quotation.customer.address2}}
         <tr>
            <td>{{quotation.customer.address2}}</td>
        </tr>
        {{/if}}
        <tr>
          <td>{{quotation.customer.zipCode}} {{quotation.customer.city}}</td>
        </tr>
      </tbody>
  </table>

  <a class="button is-warning is-link is-centered">Update</a>
</div>


  <h2>Products</h2>

    <table class="table">

      <thead>
        <tr>
          <th><abbr title="Position">Designation</abbr></th>
          <th><abbr title="Position">Quantity</abbr></th>
          <th><abbr title="Position">Unit Price</abbr></th>
          <th><abbr title="Position">TVA</abbr></th>
          <th><abbr title="Position">Total Price</abbr></th>
          <th><abbr title="Position"></abbr></th>
        </tr>
      </thead>
      <tbody>
        {{#each quotation.products}}
          <tr>
            <td>{{this.designation}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.unitPriceWT}} €</td>
            <td>{{this.vatRate}} %</td>
            <td>{{this.amount}} €</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position"></abbr></th>
          <th><abbr title="Position">Price Total></th>
          <th><abbr title="Position">{{quotation.total}} €</abbr></th>
          <th><abbr title="Position"></abbr></th>
        </tr>
      </tfoot>

      <tbody>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a class="button is-focused is-link is-centered">
                Delete               
              </a>
            </td>
        </tr>
      </tbody>
     </table>
  </div>

    <a class="button is-danger is-link is-centered">
     <h2>Add a product</h2>
    </a> 

    <a class="button is-focused is-link is-centered" href="/quotations/view">
      <h2>View pdf</h2>
    </a> 

    <a class="button is-focused is-link is-centered" href="/quotations/view">
      <h2>View pdf</h2>
    </a> 