{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-3 is-centered">Invoice #{{invoice.invoiceNumber}}</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- colonne de gauche  --}}

<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>
 {{!-- box   --}}
  <div class="column"> 
    <div class="box">
      <div class="columns">
        <div class="column is-1 is-hidden-mobile"></div>

        <div class="column">
            <ul>
              <li>{{invoice.customer.firstName}} {{invoice.customer.lastName}}
              </li>
              <li>{{invoice.customer.address1}}
              </li>
                {{#if invoice.customer.address2}}
                <li>{{invoice.customer.address2}}  </li>
                {{/if}} 
              <li>{{invoice.customer.zipCode}} {{invoice.customer.city}}
              </li>
            </ul>
        </div>
        <div class="column is-hidden-mobile"><a class="button is-warning is-link is-centered is-small">Update</a></div>
        <div class="column is-hidden-touch"></div>
        <div class="column is-hidden-touch"></div>
     </div>

      <div class="columns">
       <div class="column is-1 is-hidden-mobile"></div>

        <div class="column has-text-centered">
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Position">Designation</abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Quantity</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position "><p class="has-text-centered">Unit Price</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">TVA</p></abbr></th>
                <th><abbr title="Position"><p class="has-text-right">Total Price</p></abbr></th>
                <th  class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </thead>
            <tbody>
              {{#each invoice.products}}
                <tr>
                  <td>{{this.designation}}</td>
                  <td class="is-hidden-mobile"><p class="has-text-centered">{{this.quantity}}</p></td>
                  <td class="is-hidden-mobile"><p class="has-text-centered">{{this.unitPriceWT}} €</p></td>
                  <td class="is-hidden-mobile"><p class="has-text-centered">{{this.vatRate}} %</p></td>
                  <td><p class="has-text-right">{{this.amount}} €</p></td>
                  <td class="is-hidden-mobile"></td>
                </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <th><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"><p class="has-text-centered">Price Total</p></th>
                <th><abbr title="Position"><p class="has-text-right">{{invoice.total}} €</p></abbr></th>
                <th class="is-hidden-mobile"><abbr title="Position"></abbr></th>
              </tr>
            </tfoot>
          </table>
      </div>

      <div class="column is-1 is-hidden-mobile"></div>
    </div>
   </div>
  </div>
  {{!-- colonne de droite    --}}
  
  <div class="column is-1 is-hidden-mobile"></div>
</div>

    {{!-- bouton    --}}
<div class="columns"> 
  <div class="column is-2 is-hidden-mobile"> 
  </div>
  <div class="column is-hidden-mobile"></div>
  <div class="column has-text-centered"> 
          <a  class="button {{navColor}} is-centered is-outlined " href="/invoices/1">
            Return to list
          </a>    
          </div>
  <div class="column has-text-right"> 
          <a  class="button {{navColor}} is-centered " href="/invoices/view">
            Edit pdf
          </a>     
  </div>
  <div class="column is-2 is-hidden-mobile"> 
  </div>
</div>



{{!-- 
 <span class="button {{navColor}} is-centered is-outlined " href="/invoices/view">Save</span>
<a class="button is-success is-link is-centered is-small">Add a product</a> 
<a class="button is-link is-centered is-small is-outlined">Delete</a>
                    --}}