{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-3 is-centered">Products' List</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>

  <div class="column"> 
      <div class="box">
          <div class="columns has-text-centered has-text-weight-bold is-hidden-mobile" height="30">
              <div class="column">
               Product's name
              </div>
            
              <div class="column">
                Designation        
              </div>
          
              <div class="column ">
              <p class="has-text-centered">Unit Price</p><p class="has-text-centered">(without tax)</p>
              </div>
        
              <div class="column ">
                VAT rate
              </div>
          </div>

{{!-- for each   --}}
      {{#each productsList}}
        <div class="columns has-text-centered is-gapless tr" height="20">
            <div class="column">
              {{this.product.name}}
            </div>
          
            <div class="column">
              {{this.product.designation}}    
            </div>

        
            <div class="column is-hidden-mobile">
              {{this.product.unitPrice}}
            </div>
  
            <div class="column is-hidden-mobile">
              {{this.product.vat}}
            </div>
  
        </div>
          {{/each}}  
    </div> 
  </div>
  
  <div class="column is-1 is-hidden-mobile"> 
  </div>
 
</div>

{{!-- bouton   --}}
<div class="columns">
    <div class="column is-1 is-hidden-mobile"> 
    </div>
    <div class="column"> 
      <a class="button {{navColor}} is-centered" href="/products/new">
        <h2>New product</h2>
      </a>  
    </div>
  </div>


{{!-- pagination  --}}
<div class="columns">

  <div class="column is-1 is-hidden-mobile "></div>
  
  <div class="column {{navColor}} is-Outlined">
     <nav class="pagination {{navColor}} is-Outlined" role="navigation" aria-label="pagination">
      <a class="pagination-previous {{navColor}} is-Outlined">Previous</a>
      <a class="pagination-next {{navColor}} is-Outlined">Next page</a>
      <ul class="pagination-list {{navColor}} is-Outlined">
        {{#each pages}}
          <li>
            <a class="pagination-link {{navColor}} is-Outlined" href="/quotations/{{this}}">{{this}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
   
  <div class="column is-1 is-hidden-mobile"></div>
</div>

<script src="/javascripts/quotations/quotationList.js"></script>