{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-3 is-centered">Delivery form's List</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>

  <div class="column"> 
      <div class="box">
          <div class="columns has-text-centered has-text-weight-bold is-hidden-mobile" height="30">
              <div class="column">
                Quotation number
              </div>
            
              <div class="column">
                Customer       
              </div>
          
              <div class="column ">
                Amount 
              </div>
    
              <div class="column ">
                Establishment date
              </div>
        
              <div class="column ">
                Delivry date
              </div>
          </div>

{{!-- for each   --}}
      {{#each delivry-formsList}}
        <div class="columns has-text-centered is-gapless tr" height="20">
            <div class="column">
              {{this.delivry-formNumber}}
            </div>
          
            <div class="column">
              {{this.customer.firstName}} {{this.customer.lastName}}     
            </div>
        
            <div class="column is-hidden-mobile">
              {{this.amount}}
            </div>
  
            <div class="column is-hidden-mobile">
              {{this.convertedDate}}
            </div>
       
             <div class="column is-hidden-mobile">
              {{this.convertedDate}}
            </div>
        </div>
          {{/each}}  
    </div> 
  </div>
  
  <div class="column is-1 is-hidden-mobile"> 
  </div>
 
</div>

{{!-- bouton   --}}
<div class="columns">
    <div class="column is-1 is-hidden-mobile"> 
    </div>
    <div class="column"> 
      <a class="button is-link is-centered" href="/delivry-forms/new">
        <h2>New delivry form</h2>
      </a>  
    </div>
  </div>


{{!-- pagination  --}}
<div class="columns">

  <div class="column is-1 is-hidden-mobile"></div>
  
  <div class="column">
     <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        {{#each pages}}
          <li>
            <a class="pagination-link" href="/delivry-forms/{{this}}">{{this}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
   
  <div class="column is-1 is-hidden-mobile"></div>
</div>

<script src="/javascripts/delivry-forms/delivry-formList.js"></script>