{{!-- titre  --}}
<div class="column is-2"> 
</div>

<div class="column has-text-centered">       
  <h3 class="title is-3 is-centered">Customers' List</h3>
</div>

<div class="column is-2"> 
</div>

{{!-- colonnes   --}}
<div class="columns">
  <div class="column is-1 is-hidden-mobile"> 
  </div>

  <div class="column"> 
      <div class="box">
          <div class="columns has-text-centered has-text-weight-bold is-hidden-mobile" height="30">
            
              <div class="column is-hidden-mobile">
              First name        
              </div>
          
              <div class="column ">
                Last name  
              </div>
    
              <div class="column ">
                Phone
              </div>

              <div class="column is-hidden-mobile">
                Email      
              </div>
      
             
              <div class="column is-hidden-mobile">
                Adresse      
              </div>
        
              <div class="column is-hidden-mobile">
                Adresse's Details
              </div>

             <div class="column is-hidden-mobile">
                Zip code      
              </div>
        
              <div class="column is-hidden-mobile">
                City
              </div>
          </div>

{{!-- for each   --}}
      {{#each customersList}}
        <div class="columns has-text-centered is-gapless tr" height="20">          
            <div class="column is-hidden-mobile">
              {{this.customer.firstName}} {{this.customer.lastName}}     
            </div>
        
            <div class="column">
              {{this.customer.lastName}} 
            </div>

            <div class="column">
              {{this.customer.phone}} 
            </div>
       
            <div class="column is-hidden-mobile">
              {{this.customer.email}}
            </div>

            <div class="column is-hidden-mobile">
              {{this.customer.adress1}} 
            </div>
       
            <div class="column is-hidden-mobile">
             {{this.customer.adress2}} 
            </div>

            <div class="column is-hidden-mobile">
              {{this.customer.zipcode}} 
            </div>
       
            <div class="column is-hidden-mobile">
             {{this.customer.city}} 
            </div>
        </div>
          {{/each}}  
    </div> 
  </div>
  
  <div class="column is-1 is-hidden-mobile"> 
  </div>
 
</div>

{{!-- bouton   --}}
<div class="columns">
    <div class="column is-1 is-hidden-mobile"> 
    </div>
    <div class="column"> 
      <a class="button {{navColor}} is-centered" href="/quotations/new">
        <h2>New customer</h2>
      </a>  
    </div>
  </div>


{{!-- pagination  --}}
<div class="columns">

  <div class="column is-1 is-hidden-mobile "></div>
  
  <div class="column {{navColor}} is-Outlined">
     <nav class="pagination {{navColor}} is-Outlined" role="navigation" aria-label="pagination">
      <a class="pagination-previous {{navColor}} is-Outlined">Previous</a>
      <a class="pagination-next {{navColor}} is-Outlined">Next page</a>
      <ul class="pagination-list {{navColor}} is-Outlined">
        {{#each pages}}
          <li>
            <a class="pagination-link {{navColor}} is-Outlined" href="/quotations/{{this}}">{{this}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
   
  <div class="column is-1 is-hidden-mobile"></div>
</div>

<script src="/javascripts/quotations/quotationList.js"></script>